<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>kr.wook.alfred-arxiv-workflow</string>
	<key>connections</key>
	<dict>
		<key>04FAE5E3-4E3A-4C45-99DA-5A0A93AF188F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF44A93-47F8-4995-A8FB-8F972096FFAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0044CEE-2197-48CE-B31B-244C668438E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>684A5219-C08B-478D-9D1B-91771318AE81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B513E510-DDDB-4D68-A4DA-4AD0BED36DDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04FAE5E3-4E3A-4C45-99DA-5A0A93AF188F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79BC9E3D-DE43-457F-8DEA-8CCBE9993BC0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB0E287E-52F8-4B90-9F00-4DAA9175BCE9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79BC9E3D-DE43-457F-8DEA-8CCBE9993BC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF44A93-47F8-4995-A8FB-8F972096FFAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0044CEE-2197-48CE-B31B-244C668438E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB0E287E-52F8-4B90-9F00-4DAA9175BCE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF44A93-47F8-4995-A8FB-8F972096FFAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0044CEE-2197-48CE-B31B-244C668438E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jongwook Choi</string>
	<key>description</key>
	<string>Search arxiv.org</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>arXiv Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B513E510-DDDB-4D68-A4DA-4AD0BED36DDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>arxiv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node query.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keyword: arxiv</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>684A5219-C08B-478D-9D1B-91771318AE81</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Pass through the {query}

query=$1
echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04FAE5E3-4E3A-4C45-99DA-5A0A93AF188F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied into the clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ABF44A93-47F8-4995-A8FB-8F972096FFAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F0044CEE-2197-48CE-B31B-244C668438E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Pass through the {query}

query=$1
echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79BC9E3D-DE43-457F-8DEA-8CCBE9993BC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Pass through the {query}

echo -n "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB0E287E-52F8-4B90-9F00-4DAA9175BCE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04FAE5E3-4E3A-4C45-99DA-5A0A93AF188F</key>
		<dict>
			<key>note</key>
			<string>Copy arXiv abs URL</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>684A5219-C08B-478D-9D1B-91771318AE81</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>79BC9E3D-DE43-457F-8DEA-8CCBE9993BC0</key>
		<dict>
			<key>note</key>
			<string>Copy arXiv identifier</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>ABF44A93-47F8-4995-A8FB-8F972096FFAE</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>B513E510-DDDB-4D68-A4DA-4AD0BED36DDD</key>
		<dict>
			<key>note</key>
			<string>Open abs page</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>CB0E287E-52F8-4B90-9F00-4DAA9175BCE9</key>
		<dict>
			<key>note</key>
			<string>Copy BibTeX</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>F0044CEE-2197-48CE-B31B-244C668438E9</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0-dev</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
